source ~/.vimrc

" ideavim settings
set ideajoin
set ideastatusicon=gray
set visualbell

" save/close
noremap <leader>w :action SaveDocument<CR>
if &ide =~? "DataSpell"
    noremap <leader>q :action CloseContent<CR>
else
    noremap <leader>q :action CloseEditor<CR>
endif

" refactor code
noremap <leader>em :action ExtractMethod<CR>
noremap <leader>ec :action IntroduceConstant<CR>
noremap <leader>ef :action IntroduceField<CR>
noremap <leader>ep :action IntroduceParameter<CR>
noremap <leader>ev :action IntroduceVariable<CR>
noremap <leader>er :action Refactorings.QuickListPopupAction<CR>
noremap <leader>r :action RenameElement<CR>
noremap <leader>s :action SurroundWith<CR>

" format code
noremap <leader>f :action ReformatCode<CR>
noremap <leader>F :action ShowReformatFileDialog<CR>

" run code
noremap <leader>b :action BuildSolutionAction<CR>
if &ide =~? "DataSpell"
    noremap <leader>d :action JupyterDebugAction<CR>
    noremap <leader>D :action NotebookRunAllAction<CR>
    noremap <leader>C :action NotebookRunAllAboveAction<CR>
    noremap <leader>c :action NotebookRunCellAction<CR>
else
    noremap <leader>d :action Debug<CR>
    noremap <leader>D :action Stop<CR>
endif

" tab controls
noremap <leader>l :action MoveEditorToOppositeTabGroup<CR>
noremap <leader>L :action MoveTabRight<CR>

" navigation
noremap <leader>o :action FileStructurePopup<CR>
noremap <leader>gi :action GotoImplementation<CR>
noremap <leader>gu :action ShowUsages<CR>
noremap <leader>gt :action GotoTest<CR>
noremap <leader>gd :action GotoDeclaration<CR>
noremap <leader>gm :action GotoFileMember<CR>

noremap [e :action GotoPreviousError<CR>
noremap ]e :action GotoNextError<CR>
noremap ]c :action VcsShowNextChangeMarker<CR>
noremap [c :action VcsShowPrevChangeMarker<CR>
noremap ]m :action MethodDown<CR>
noremap [m :action MethodUp<CR>

vnoremap v :action EditorSelectWord<CR>
vnoremap V :action EditorUnSelectWord<CR>
