source ~/.vimrc

" ideavim settings
set ideajoin
set ideastatusicon=gray
set peekaboo
set visualbell

" quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
set quickscope

" save/close
noremap <Leader>w <Action>(SaveDocument)
if &ide =~? "DataSpell"
    nmap <Leader>q <Action>(CloseContent)
else
    nmap <Leader>aq <Action>(CloseEditor)
endif

" refactor code
map <Leader>em <Action>(ExtractMethod)
map <Leader>ec <Action>(IntroduceConstant)
map <Leader>ef <Action>(IntroduceField)
map <Leader>ep <Action>(IntroduceParameter)
map <Leader>ev <Action>(IntroduceVariable)
map <Leader>er <Action>(Refactorings.QuickListPopupAction)
map <Leader>r <Action>(RenameElement)
map <Leader>s <Action>(SurroundWith)

" format code
map <Leader>f <Action>(ReformatCode)
map <Leader>F <Action>(ShowReformatFileDialog)

" run code
nmap <Leader>b <Action>(BuildSolutionAction)
if &ide =~? "DataSpell"
    nmap <Leader>d <Action>(JupyterDebugAction)
    nmap <Leader>D <Action>(NotebookRunAllAction)
    nmap <Leader>C <Action>(NotebookRunAllAboveAction)
    nmap <Leader>c <Action>(NotebookRunCellAction)
else
    nmap <Leader>d <Action>(Debug)
    nmap <Leader>D <Action>(Stop)
endif

" tab controls
nmap <Leader>l <Action>(MoveEditorToOppositeTabGroup)
nmap <Leader>L <Action>(MoveTabRight)

" navigation
nmap <Leader>t :NERDTree<CR>
nmap <Leader>o <Action>(FileStructurePopup)

nmap <Leader>gd <Action>(GotoImplementation)
nmap <Leader>gu <Action>(ShowUsages)
nmap <Leader>gt <Action>(GotoTest)
nmap <Leader>gi <Action>(GotoDeclaration)
nmap <Leader>gm <Action>(GotoFileMember)

map [e <Action>(GotoPreviousError)
map ]e <Action>(GotoNextError)
map ]c <Action>(VcsShowNextChangeMarker)
map [c <Action>(VcsShowPrevChangeMarker)
map ]m <Action>(MethodDown)
map [m <Action>(MethodUp)

vmap v <Action>(EditorSelectWord)
vmap V <Action>(EditorUnSelectWord)

map <Leader>/ <Action>(ToggleRenderedDocPresentationForAll)
